// font-sizes
$font-large: 65px;
$font-header: 40px;
$font-subheader: 25px;

// border radius
$border-radius: 5px;

// colors
$color-primary: #FA5C65;
$color-secondary: rgb(28, 93, 191);

$color-white: #fff;
$color-black: #000;
$color-font-body: #333;

$color-white_gray: #f9f9fa;
$color-light_gray: #E5E5E5;
$color-medium_gray: #828181;