// break points
$medium: '(min-width: 768px)';
$large: '(min-width: 992px)';
$xlarge: '(min-width: 1200px)';

// colors
$color-primary: #FA5C65;
$color-secondary: rgb(28, 93, 191);

$color-white: #fff;
$color-black: #000;
$color-font-body: #333;

$color-white_gray: #f9f9fa;
$color-light_gray: #E5E5E5;
$color-medium_gray: #828181;